<div *ngIf="eventDetails">
        <h3 class="page-title"><b>Events</b></h3> 
                    <div class="container" *ngFor="let eventDetail of eventDetails">
                             
                            <!-- Card deck -->
                            <div class="card-deck row">
                            
                              <div class="col-xs-12 col-xs-6 col-md-4">
                              <!-- Card -->
                              <div class="card">                            
                                <!--Card image-->
                                <div class="view overlay">
                                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
                                  <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                  </a>
                                </div>
                            
                                <!--Card content-->
                                <div class="card-body">                            
                                  <!--Title-->
                                  <h4 class="card-title"><strong>{{ eventDetail.eventTitle}}</strong></h4>
                                  <!--Text-->
                                  <p class="card-text"></p>{{ eventDetail.eventDescription}}
                                  <div><strong>POC :</strong> {{ eventDetail.poc}}</div>
                                  <div><strong>Transportation :</strong> {{ eventDetail.isTransportation}}</div>
                                  <div><strong>Location :</strong> {{ eventDetail.eventLocation}}</div>
                                  <div><strong>Event Date :</strong> {{ eventDetail.eventDate | date:'medium'}}</div>
                                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                  <button type="button" class="btn btn-success waves-effect waves-light mr-1" 
                                  (click)="registerEvent(eventDetail)">Register</button>                            
                                </div>                            
                              </div>
                              <!-- Card -->
                              </div>  
                            </div>
                            <!-- Card deck -->                              
                        </div>               
    </div>   


<div>
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title"><b>Registered Events</b></h4>
            </div>
            <br><br>
        </div>
        <hr>
        <div *ngIf="registerEvents">
            <table datatable [dtOptions]="dtRegisterOptions" [dtTrigger]="dtRegisterTrigger" class="row-border hover">
                <thead>
                    <tr>                  
                        <th>Title</th>
                        <th>Poc</th>
                        <th>Transportation</th>
                        <th>Location</th>
                        <th>Date</th> 
                        <th></th>                  
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let registerEvent of registerEvents">                   
                        <td>{{ registerEvent.eventTitle}}</td>
                        <td>{{ registerEvent.poc}}</td>
                        <td>{{ registerEvent.isTransportation}}</td>
                        <td>{{ registerEvent.eventLocation}}</td>
                        <td>{{ registerEvent.eventDate | date:'medium'}}</td>
                        <td>                            
                            <button type="button" class="btn btn-warning waves-effect waves-light mr-1" 
                            (click)="cancelEvent(registerEvent)">Cancel</button>
                        </td>                   
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!registerEvents || registerEvents.length == 0">
            There are no events available
        </div>
    </div>